.packages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.package {
  display: flex;
  gap: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 20px;
  width: fit-content;
}

.package-titles {
  display: flex;
  flex-direction: column;
}

.package-data {
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 20px;
}

.orange {
  color: orange
}

.red {
  color: red;
}

.map {
  width: 100%;
}

.map-container {
  width: 600px;
}
